<div class="auth-form">
  <div class="title">Sign up</div>
  <form (ngSubmit)="submitForm()" [formGroup]="signupForm">
    <app-auth-input
      placeholder="Email"
      [control]="signupForm.get('email')"
    ></app-auth-input>
    <app-auth-input
      placeholder="Username"
      [control]="signupForm.get('username')"
    ></app-auth-input>
    <app-auth-input
      inputType="password"
      placeholder="Password"
      [control]="signupForm.get('password')"
    ></app-auth-input>
    <app-auth-input
      inputType="password"
      placeholder="Confirm Password"
      [control]="signupForm.get('confirmPassword')"
    ></app-auth-input>
    <div class="d-flex justify-content-center mb-3">
      <re-captcha
        (resolved)="onCaptchaResolved($event)"
        siteKey="6LdZBRQpAAAAABkG5Kc02QcIaxj-m_T5RADEsKjV"
      ></re-captcha>
    </div>
    <button type="submit" class="btn btn-primary submit">Sign up</button>
  </form>
  <div class="link signup">
    <a routerLink="/login">Login</a>
    •
    <a href="#">Resend Verification Email</a>
  </div>
</div>
