<div class="auth-form">
  <div class="title">Sign up</div>
  <form (ngSubmit)="submitForm()">
    <input
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      class="auth-input"
    />
    <input
      [(ngModel)]="username"
      name="username"
      placeholder="Username"
      class="auth-input"
    />
    <input
      [(ngModel)]="password"
      type="password"
      name="password"
      placeholder="Password"
      class="auth-input"
    />
    <input
      [(ngModel)]="confirmPassword"
      type="password"
      name="confirmPassword"
      placeholder="Confirm Password"
      class="auth-input"
    />
    <div class="d-flex justify-content-center mb-3">
      <re-captcha
        (resolved)="onCaptchaResolved($event)"
        siteKey="6LdZBRQpAAAAABkG5Kc02QcIaxj-m_T5RADEsKjV"
      ></re-captcha>
    </div>
    <button type="submit" class="btn btn-primary submit">Sign up</button>
  </form>
  <div class="link signup">
    <a routerLink="/login">Login</a>
    •
    <a href="#">Resend Verification Email</a>
  </div>
</div>
