<div class="auth-form">
  <div class="title">Login</div>
  <form (ngSubmit)="submitForm()" [formGroup]="loginForm">
    <app-auth-input
      placeholder="Email"
      [control]="loginForm.get('email')"
    ></app-auth-input>
    <app-auth-input
      inputType="password"
      placeholder="Password"
      [control]="loginForm.get('password')"
    ></app-auth-input>
    <div class="d-flex justify-content-center mb-3">
      <re-captcha
        (resolved)="onCaptchaResolved($event)"
        siteKey="6LdZBRQpAAAAABkG5Kc02QcIaxj-m_T5RADEsKjV"
      ></re-captcha>
    </div>
    <button type="submit" class="btn btn-primary submit">Login</button>
  </form>
  <a href="#" class="link">Forgot password?</a>
  <a routerLink="/signup" class="link signup">
    Not registered? <span>Create an account</span>
  </a>
</div>
