<div id="nav">
  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-md-between justify-content-center"
    >
      <a
        href="/"
        class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
      >
        <i class="bi bi-bootstrap-fill"></i>
      </a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-3">Search</a></li>
        <li><a href="#" class="nav-link px-3">Social</a></li>
        <li><a href="#" class="nav-link px-3">Forum</a></li>
      </ul>
      <div
        class="d-flex col-md-3 pb-md-0 pb-3 text-end align-items-center justify-content-end"
      >
        <a routerLink="/login" class="p-2 me-2">Login</a>
        <a routerLink="/signup" class="btn btn-primary">Sign-up</a>
      </div>
    </header>
  </div>
</div>
