#nav {
  background-color: #0c134f;
  font-weight: 600;
}

#nav header .bi.bi-bootstrap-fill {
  font-size: 2.5rem;
  color: #fff;
}

#nav ul.nav a.nav-link,
#nav header > div > a:first-child {
  color: #d4adfc;
  text-decoration: none;
}

#nav header > div > a.btn {
  font-weight: 600;
}
